<div class="container">
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab label="Mitglied hinzufügen">
      <form
        class="form-member"
        [formGroup]="addMemberForm"
        (ngSubmit)="submit(addMemberForm, 'member')"
      >
        <div class="row-top">
          <mat-form-field appearance="outline" name="firstName">
            <mat-label>Vorname</mat-label>
            <input matInput formControlName="firstName" placeholder="Max" />
          </mat-form-field>
          <mat-form-field appearance="outline" name="lastName">
            <mat-label>Nachname</mat-label>
            <input
              matInput
              formControlName="lastName"
              placeholder="Mustermann"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" name="gender">
            <mat-label>Geschlecht</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let gender of gendersArray" [value]="gender">
                {{ gender }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row-mid">
          <mat-form-field appearance="outline" name="zipCode">
            <mat-label>PLZ</mat-label>
            <input matInput formControlName="zipCode" placeholder="95448" />
          </mat-form-field>
          <mat-form-field appearance="outline" name="city">
            <mat-label>Ort</mat-label>
            <input matInput formControlName="city" placeholder="Musterstadt" />
          </mat-form-field>
          <mat-form-field appearance="outline" name="feeGroup">
            <mat-label>Beitragsgruppe</mat-label>
            <mat-select formControlName="feeGroup">
              <mat-option *ngFor="let basicFee of basicFees" [value]="basicFee">
                {{ basicFee.personengruppe }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row-bot">
          <mat-form-field appearance="outline" name="sport">
            <mat-label>Sportart</mat-label>
            <mat-select multiple formControlName="sports">
              <mat-option *ngFor="let sport of sports" [value]="sport">
                {{ sport.abteilung }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" name="role">
            <mat-label>Rolle</mat-label>
            <mat-select formControlName="role">
              <mat-option [value]="'Keine Rolle'">Keine Rolle</mat-option>
              <mat-option *ngFor="let role of roleArray" [value]="role">
                {{ role }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" name="team">
            <mat-label>Mannschaft</mat-label>
            <mat-select
              [disabled]="
                !(
                  addMemberForm.get('role')?.value !== 'Keine Rolle' &&
                  addMemberForm.get('role')?.value !== null
                )
              "
              formControlName="team"
            >
              <mat-option *ngFor="let t of teams" [value]="t">
                {{ t.teamname }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row-submit">
          <button class="btn-submit" type="submit" mat-button>
            Hinzufügen
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Sportart hinzufügen">
      <form
        class="form-sport"
        [formGroup]="addSportForm"
        (ngSubmit)="submit(addSportForm, 'sport')"
      >
        <div class="row-top">
          <mat-form-field appearance="outline" name="sport">
            <mat-label>Sportart</mat-label>
            <input matInput formControlName="sport" placeholder="Fußball" />
          </mat-form-field>

          <mat-form-field appearance="outline" name="fee">
            <mat-label>Beitragsgebühr</mat-label>
            <input matInput formControlName="fee" placeholder="30.00€" />
          </mat-form-field>

          <mat-form-field appearance="outline" name="leader">
            <mat-label>Leiter der Sportart</mat-label>
            <input
              type="text"
              matInput
              formControlName="leader"
              [matAutocomplete]="autoGroup"
            />
            <mat-autocomplete #autoGroup="matAutocomplete">
              <mat-option
                *ngFor="let member of filteredValues | async"
                [value]="display(member)"
              >
                {{ display(member) }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="row-submit">
          <button class="btn-submit" type="submit" mat-button>
            Hinzufügen
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Mannschaft hinzufügen">
      <form
        class="form-team"
        [formGroup]="addTeamForm"
        (ngSubmit)="submit(addTeamForm, 'team')"
      >
        <mat-form-field appearance="outline" name="name">
          <mat-label>Name der Mannschaft</mat-label>
          <input matInput formControlName="name" placeholder="1. FC Köln" />
        </mat-form-field>

        <mat-form-field appearance="outline" name="sport">
          <mat-label>Sportart</mat-label>
          <mat-select formControlName="sport">
            <mat-option *ngFor="let sport of sports" [value]="sport.abteilung">
              {{ sport.abteilung }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button class="btn-submit" type="submit" mat-button>Hinzufügen</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
