mat-form-field {
  padding-right: 3%;
  width: 10vw;
}

mat-tab-group {
  width: 40vw;
}

.form-member {
  width: 40vw;
  height: 30vh;
  padding-top: 4%;
  display: grid;
  grid-template-areas:
    "top"
    "mid"
    "bot"
    "submit";
  grid-template-rows: 25% 25% 25% 10%;
  row-gap: 4%;
}

.form-sport {
  width: 40vw;
  height: 15vh;
  padding-top: 4%;
  display: grid;
  grid-template-areas:
    "top"
    "submit";
  grid-template-rows: 60% 40%;
}

.form-team {
  width: 40vw;
  height: 10vh;
  padding-top: 4%;
  display: flex;
  justify-content: center;
}

.row-top {
  grid-area: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-mid {
  grid-area: mid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-bot {
  grid-area: bot;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-submit {
  grid-area: submit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-submit {
  height: 2.5rem;
  width: 20%;
  border-radius: 12px;
  margin-right: 11%;
  background-color: rgb(118, 118, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-team .btn-submit {
  margin-top: 1.5%;
  margin-left: 3%;
}
