.mat-column-memberId {
  flex: none;
  width: 5%;
}

.mat-column-firstName {
  flex: none;
  width: 10%;
}
.mat-column-lastName {
  flex: none;
  width: 8%;
}

.mat-column-zipCode {
  flex: none;
  width: 7%;
}

.mat-column-city {
  flex: none;
  width: 10%;
}

.mat-column-gender {
  flex: none;
  width: 8%;
}

.mat-column-isPlayer {
  flex: none;
  width: 7%;
}

.mat-column-playerTeamName {
  flex: none;
  width: 10%;
}

.mat-column-isTrainer {
  flex: none;
  width: 7%;
}

.mat-column-trainerTeamName {
  flex: none;
  width: 10%;
}

.mat-column-sports {
  flex: none;
  width: 10%;
}

.mat-column-fee {
  flex: none;
  width: 8%;
}

.mat-column-actions {
  flex: none;
  width: 10%;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #9e9e9e;
  height: 50px;
  margin-bottom: 20px;
}

.header .left {
  float: left;
  height: 50px;
  margin-left: 70px;
  padding-top: 15px;
  font-size: large;
}

.header .right {
  float: right;
  height: 50px;
  margin-right: 70px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-block {
  margin-top: 75px;
  margin-left: 10%;
  width: 30vw;
  display: grid;
  grid-template-columns: 30vw;
  grid-template-rows: 5vh;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
}

.title {
  grid-area: top;
  font-size: 1cm;
}

.line {
  grid-area: middle;
  width: 175px;
  height: 1px;
  border-top: 2px solid #cc6969;
  margin-top: 13px;
  position: absolute;
}

.buttons {
  margin-top: 60px;
  height: 70px;
}

.addNewUser {
  margin-left: 10%;
  grid-area: bottom;
  width: fit-content;
  height: 51.6167px;
  float: left;
  background-color: #e26d6d;
}

.mat-form-field {
  font-size: 14px;
  width: 300px;
  float: right;
  margin-right: 10%;
}

/* button{
  background-color: transparent;
  border-color: transparent;
  height: 25px;
  width: 25px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: -2px;
  cursor: pointer;
} */

.mat-elevation-z8 {
  width: 100%;
}

.mat-header-cell {
  color: black;
}

table {
  width: 100%;
}

.Table {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
  width: 80%;
}

td,
th {
  width: 33%;
}

tr .header {
  background-color: #9e9e9e;
}

.footer {
  margin-top: 20px;
  text-align: center;
  background-color: #e26d6d;
  height: 50px;
  font-size: large;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.middle {
  padding-top: 15px;
}

.imgLogout {
  cursor: pointer;
  padding-left: 10px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
