<div class="container-login">
  <div class="content">
    <h1>FC FUSILLI</h1>
    <div class="line"></div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="postdata(loginForm)"
      autocomplete="off"
    >
      <mat-button-toggle-group
        class="container-toggle"
        name="option"
        [(value)]="selection"
        aria-label="option"
      >
        <mat-button-toggle class="option-login" value="Login"
          >Login</mat-button-toggle
        >
        <mat-button-toggle class="option-register" value="Register"
          >Register</mat-button-toggle
        >
      </mat-button-toggle-group>

      <mat-form-field appearance="outline" name="username">
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          name="username"
          placeholder="Nutzername"
        />
        <mat-error *ngIf="loginForm.get('username')?.errors">
          Mind. <strong>5</strong> Zeichen
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" name="password">
        <mat-label>Passwort</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          name="password"
        />
        <mat-error *ngIf="loginForm.get('password')?.errors">
          Mind. <strong>5</strong> Zeichen
        </mat-error>
      </mat-form-field>

      <button mat-button type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
</div>

<div class="picture">
  <img class="image" src="..\..\assets\Images\staffellauf.jpg" alt="image" />
</div>
