.login {
    float: left;
    width: 50%;
    height: 100vh;
}
.picture {
    float: right;
    width: 50%;
}
.content {
    margin-top: 35%;
    margin-left: 30%;
    
}
h1 {
    margin-bottom: 10px;
    margin-top: 0px;
}
.line {
    width: 112px;
    height: 1px;
    border-top: 2px solid #CC6969;
    position: absolute;
}
.form {
    padding-top: 20px;
}
.input {
    
    width: 381px;
    height: 39px;  
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    
}
::placeholder {

    font-size: 1.2em;
    padding-left: 10px;
}
.label{
    padding-top: 6px;
    padding-bottom: 6px;
}

br {
    margin-bottom: 20px;
}
.submitLogin {
    width: 387px;
    height: 39px;
    left: 157px;
    top: 616px;
    background: #CC6969;
    font-size: medium;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 12px;
    cursor: pointer;
}
.image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: -7px;
}