<div class="login">
    <div class="content">

        <h1>SPORTVEREIN</h1>
        <div class="line"></div>
       <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >

  
            <br>
     <input class="input" type="email" name="email" formControlName="email" autocomplete="off"  placeholder="Nutzername">

            <br>

            <br>
     <input class="input" type="password" name="Password" formControlName="password" autocomplete="off"  placeholder="Password">

            <br>
    <button type="submit" class="submitLogin" >Login</button>

        </form>
    </div>
</div>
<div class="picture">
    <img class="image" src="..\..\assets\Images\staffellauf.jpg" alt="image">
</div>