<div class="header">
  <div class="left">Mitgliederverwaltungsprogramm</div>
  <div class="right">
    Max Mustermann
    <button (click)="Logout()">
      <img
        src="../../../assets/Images/rsz_free-exit-logout-icon-2857-thumb.png"
      />
    </button>
  </div>
</div>
    <button (click)="openAddDialog()">Neuen Nutzer anlegen</button>





<div class="Table">
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input />

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="action_btn">
        <th mat-header-cell *matHeaderCellDef>Aktionen</th>
        <td mat-cell *matCellDef="let row">  

         <div class="class_action_btn">
        <button mat-fab color="primary" aria-label="Nutzer löschen">
          <mat-icon  (click)="openDeleteDialog()" style="color: red;">delete</mat-icon>
        </button>
    <button mat-fab color="primary" aria-label="Nutzer bearbeiten">
          <mat-icon  (click)="openEditDialog()">edit</mat-icon>
        </button>
   </div>
  
      
      </ng-container>

      <tr
        class="header"
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>

<div class="footer">
  <div class="middle">Sportverein © 2022</div>
</div>
