mat-form-field {
  padding-right: 4%;
  width: 10vw;
}

.container {
  height: 20vh;
  display: grid;
  margin-left: 4vw;
  grid-template-areas: "left right";
  grid-template-columns: 50% 50%;
}

.items-left {
  grid-area: left;
  display: grid;
  grid-template-areas:
    "top"
    "bottom";
  grid-template-rows: 50% 50%;
}

.items-left-top {
  grid-area: top;
}

.items-left-bottom {
  grid-area: bottom;
}

.items-right {
  grid-area: right;
  display: flex;
  display: grid;
  grid-template-areas:
    "top"
    "bottom";
  grid-template-rows: 50% 50%;
}

.items-right-top {
  grid-area: top;
}

.items-right-bottom {
  grid-area: bottom;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-submit {
  height: 2.5rem;
  width: fit-content;
  border-radius: 12px;
  margin-right: 4%;
  margin-bottom: 5%;
  background-color: rgb(118, 118, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-submit {
  font-size: 24px;
}

.btn-delete {
  height: 2.5rem;
  width: fit-content;
  border-radius: 12px;
  margin-bottom: 5%;
  margin-right: 3.5vw;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-delete {
  font-size: 24px;
}
